<!DOCTYPE html>
<html lang="<%= Pleroma.Web.Gettext.language_tag() %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">
    <title><%= Pleroma.Config.get([:instance, :name]) %></title>
    <link rel="stylesheet" href="/instance/static.css">
    <style>
      :root {
        <%= Pleroma.Web.Utils.Colors.shades_to_css(
          "primary",
          Pleroma.Config.get([:frontend_configurations, :soapbox_fe, "brandColor"], "#0482d8")
        ) %>
        <%= Pleroma.Web.Utils.Colors.shades_to_css(
          "accent",
          Pleroma.Config.get([:frontend_configurations, :soapbox_fe, "accentColor"], "#2bd110")
        ) %>
      }
    </style>
  </head>
  <body>
    <div class="instance-header">
      <a class="instance-header__content" href="/">
        <img class="instance-header__thumbnail" src="<%= Pleroma.Config.get([:frontend_configurations, :soapbox_fe, "logo"], Pleroma.Config.get([:instance, :instance_thumbnail])) %>">
        <h1 class="instance-header__title"><%= Pleroma.Config.get([:instance, :name]) %></h1>
      </a>
    </div>
    <div class="container">
      <%= @inner_content %>
    </div>
  </body>
</html>
